<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MySeleniumAutomationSuite" verbose="1">
    
    <parameter name="environment" value="prod"/>     
    <parameter name="browserType" value="chrome"/>
    <parameter name="headless" value="false"/>


    <test name="QA Automation Principal">
        <classes>
            <class name="_principalTest"/>
        </classes>
    </test>

    <test name="Elements Area">
        <classes>
            <class name="elementsTest"/> 
        </classes>
    </test>

    <test name="Interactions Area">
        <classes>
            <class name="interactionsTest"/>
        </classes>
    </test>    
    
    <test name="Widgets Area">
        <classes>
            <class name="widgetsTest"/>
        </classes>
    </test>    
</suite>